{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}{{topic}}{% endblock page_header %}
{% block content %}
{% comment %} <p>add entry</p> {% endcomment %}
    <form action="{% url "learning_logs:new_entry" topic.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button type="submit" content="保存记录" %}
        {% comment %} {{form.as_div}} {% endcomment %}
        {% comment %} <button type="submit">add save</button> {% endcomment %}
    </form>
{% endblock content %}

